@model Tennis.Web.Models.Domain.Person
@using Microsoft.AspNetCore.Http;


@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Dashboard";
    Layout = "_AdminLayout";
}

@*Just show session values and keys here*@

<div class="container mt-2">
    <div class="row justify-content-center">
        <div class="col-md-4">
            <div class="card">
                <div class="card-header bg-primary text-white text-center">Dashboard</div>
                <div class="card-body">
                    <p>Click on Actions to view the various Privileges assigned to the above user!</p>
                </div>
            </div>
        </div>
    </div>
</div>
